/* ==================== */
/* Font Faces & Imports */
/* ==================== */
@font-face {
  font-family: 'Ndot';
  src: url('../../fonts/Ndot-55.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');